*{
	box-sizing: border-box;
}

/*properties for the template of the movie Details*/
#template{
	margin-left: 20%;
	margin-right: 20%;
	padding-bottom: 5%;
}

/*these are the properties for the body container with gradient background*/
body{
    padding: 0;
    margin:0;
    background: linear-gradient(360deg, rgba(246,243,244,1) 0%, rgba(207,209,210,1) 100%);
}

/*the main container should have the color white*/
.container-wraper{
	background-color: white;
}

/*properties for the movie poster */
img.movie-poster{
max-width: 100%;
height: auto;
margin: 80px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.movie-header {
	text-align: center;
}

.movie-details{
	text-align: left;
}


footer{
	text-align: center;
	padding: 20px;
}

/*style for all the buttons*/

div > a > button, #btnUserAuth{
    -moz-box-shadow: 3px 4px 1px 0px #8a2a21;
    -webkit-box-shadow: 3px 4px 1px 0px #8a2a21;
    box-shadow: 3px 4px 1px 0px #8a2a21;
    background-color:#c62d1f;
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    border-radius:18px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:8px 5px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}

div > a > button:hover , #btnUserAuth:hover{
    background-color:#f24437;
}

div > a > button:active , #btnUserAuth:active{
    position:relative;
    top:1px;
}

#btnUserAuth{
	margin:0;
}

@media only screen and (min-width: 320px) {

	/*properties for the movie details that appear below the movie poster*/
    #movieDetails{
        padding: 0;
        margin:0;
        box-sizing: border-box;
        text-align: center;
        display: inline-block;
        width:auto;
    }

   .movie-title { 
      text-align: center;
      }

   /*properties for the movie poster */
   img.movie-poster{
    margin: 10px;
    height: 300px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }

    /*properties for the container of the movie*/
    .thumbnail-details{
        height: 1200px; 
        width: auto;
    }

    div#template{
      margin:0;
    }

    /* dimension the Logo img */
     img.logo{
        height: 90px;
    }

} 

@media only screen and (min-width: 768px) {

	/*properties for the movie details that appear below the movie poster*/
    #movieDetails{
        padding: 0;
        margin:0;
        box-sizing: border-box;
        text-align: center;
        display: inline-block;
        width:auto;
    }

    .nav-buttons{
    	display: inline-block;
    	height: 100px;  
    }

    /*the main container properties*/
    .container-wraper{
    	margin-left: 70px;
    	margin-right: 70px
    }

    .nav-item{
   margin : 2px;
    }

   .movie-title { 
      text-align: center;
      }

    /*properties for the movie poster */
   img.movie-poster{
    margin: 40px;
    height: 600px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }

    /*properties for the container of the movie*/
    .thumbnail-details{
        height: 1200px; 
        width: auto;
        padding: 5px;
        margin: 10px;
    }

    div#template{
      margin:0;
    }

     img.logo{
        height: 110px;
        margin-left: 10px;
    }

    /* redimension the button Login and Log out */
    button#btnUserAuth, div > a > button{
        padding: 3px;
    }

} 

@media only screen and (min-width: 1200px) {

	/*properties for the movie details that appear below the movie poster*/
   #movieDetails{
        padding: 0;
        margin:0;
        box-sizing: border-box;
        text-align: center;
        display: inline-block;
        width:auto;
    }

    /*the main container properties*/
    .container-wraper{
    	margin-left: 200px;
    	margin-right: 200px
    }

    .nav-item{
   margin : 2px;
    }

   .movie-title { 
      text-align: center;
      }

    /*properties for the movie poster */
   img.movie-poster{
    margin: 80px;
    height: 600px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }

    /*properties for the container of the movie*/
    .thumbnail-details{
        height: 1200px; 
        width: auto;
        padding: 5px;
        margin: 10px;
    }

    div#template{
      margin:0;
    }

     img.logo{
        height: 150px;
        margin-left: 10px;
    }

    /* redimension the button Login and Log out */
    button#btnUserAuth, div > a > button{
        padding: 3px;
    }
} 

@media only screen and (min-width: 2560px){

	/*properties for the movie details that appear below the movie poster*/
   #movieDetails{
        padding: 0;
        margin:0;
        box-sizing: border-box;
        text-align: center;
        display: inline-block;
        width:auto;
    }

    /*the main container properties*/
    .container-wraper{
    	margin-left: 400px;
    	margin-right: 400px
    }

    .nav-buttons{
    	display: flex;
    	align-items: left;
    	float: right;    
    }

    .nav-item{
   margin : 2px;
    }

   .movie-title { 
      text-align: center;
      }

    /*properties for the movie poster */
   img.movie-poster{
    margin: 70px;
    height: 700px;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }

    /*properties for the container of the movie*/
    .thumbnail-details{
        height: 1300px; 
        width: auto; 
        padding: 5px;
        margin: 10px;
    }

    div#template{
      margin:0;
    }

     img.logo{
        height: 200px;
        margin-left: 10px;
    }

    /* redimension the button Login and Log out */
    button#btnUserAuth, div > a > button{
        padding: 3px;
    }
}