*{
	box-sizing: border-box;
}

#template{
	margin-left: 20%;
	margin-right: 20%;
	padding-bottom: 5%;
}

.movie-header {
	text-align: center;
}

.movie-details{
	text-align: left;
}

.movie-poster{
	padding: 3%;
}

#back-home > a > button{
    -moz-box-shadow: 3px 4px 1px 0px #8a2a21;
    -webkit-box-shadow: 3px 4px 1px 0px #8a2a21;
    box-shadow: 3px 4px 1px 0px #8a2a21;
    background-color:#c62d1f;
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    border-radius:18px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:8px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}

#back-home > a > button:hover {
    background-color:#f24437;
}
#back-home > a > button:active {
    position:relative;
    top:1px;
}
