*{
    text-align: center;
}

body.container-fluid{
    padding: 0;
    margin:0;
    background-image: linear-gradient(to top, #fdfdfd, #fdf0f9, #ffe1e5, #ffd7c4, #ebd4a5);
}

.container-wraper{
  background-color: white;
}

.thumbnail{
    background-color: #FFEFCA;
    line-height: 5px;
}

.title-thumbnail{
    text-align: justify;
    margin-bottom: 5px;
}

footer{
  padding: 20px;
} 

.navbar{
  padding: 10px;
}


@media only screen and (min-width: 320px) {

    div.movies{
        padding: 0;
        margin:0;
        box-sizing: border-box;
        text-align: center;
        display:block;
        width:auto;
    }

    .social-buttons{
        height: 30px;
    }

    span > button{
      margin: 5px;
    }

    #search-value{
      margin-bottom: 5px;
    }

   .movie-title { 
      text-align: center;
      }
   img.movie-poster{
    margin: 10px;
    height: 300px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }
    .thumbnail{
        height: 500px; 
        width: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
        width:auto;
        padding: 5px;
        margin: 10px;
    }

    .navbar{
      padding: 10px;
    }

    #template{
      padding:0;
    }

    .movie-header{
        padding-top:10px;
        height: 60px;
    }

     img.logo{
        height: 90px;
        margin-left: 10px;
    }
    button#btnUserAuth{
        padding: 8px 10px;
    }
} 

@media only screen and (min-width: 768px) {

   img.movie-poster{
    margin: 10px;
    height: 300px;
    width: 220px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }

    .container-wraper{
      margin-left: 50px;
      margin-right: 50px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .thumbnail{
        height: 530px; 
        width: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
        margin: 15px; 
    }

    .movie-header{
        height: 50px;
        margin-bottom: 20px;
    }

    #search-category{
      width: 120px;
    }

    .input-group{
      display: inline-block;
    }

    img.logo{
        height: 110px;
        margin:0;
        text-align: left;
    }
} 

@media only screen and (min-width: 1024px) {

   img.movie-poster{
    margin: 10px;
    height: 330px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }

    .container-wraper{
      margin-left: 100px;
      margin-right: 100px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .thumbnail{
        height: 530px; 
        width: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
        margin: 30px; 
    }

    .navbar{
      padding: 30px;
    }

    .movie-header{
        height: 50px;
        margin-bottom: 20px;
    }

    img.logo{
        height: 150px;
        margin:0;
        text-align: left;
    }
} 

@media only screen and (min-width: 2560px){

  div.template{
        padding: 0;
        margin:0;
        box-sizing: border-box;
        text-align: center;
        display:block;
        width:auto;
    }

  .container-wraper{
    margin-left: 400px;
    margin-right: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  img.movie-poster{
    margin: 10px;
    height: 500px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }

    .navbar{
      padding: 50px;
    }

    .thumbnail{
        height: 700px; 
        width: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
        margin: 50px; 
    }

    .movie-header{
        height: 50px;
        margin-bottom: 20px;
    }

    img.logo{
        height: 250px;
    }

 
}


.buttons > button, #btnUserAuth, div > span > button, .pages-btn{
    -moz-box-shadow: 3px 4px 1px 0px #8a2a21;
    -webkit-box-shadow: 3px 4px 1px 0px #8a2a21;
    box-shadow: 3px 4px 1px 0px #8a2a21;
    background-color:#c62d1f;
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    border-radius:18px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:8px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}/*added by Iulia*/

.buttons > button:hover, #btnUserAuth:hover, div > span > button:hover, .pages-btn:hover{
    background-color:#f24437;
}/*added by Iulia*/
.buttons > button:active, #btnUserAuth:active , div > span > button:active, .pages-btn:active{
    position:relative;
    top:1px;
}/*added by Iulia*/

.popup {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding:2.5%;
    margin:2.5%;
    position: absolute;
    background-color: 	#D3D3D3;
    border-radius: 6px;
    border:1px solid black;

}
.content {
   order: 2;
   margin-left: 8%;
  }
.closeButton {
   order: 0;
   align-self: flex-end;
}
.display-error{
   order: 1;
   animation: blink 1s linear infinite;
   margin-left: 8%;
   color: #ff00ff;
}
@keyframes blink {
   50% {
      opacity: 0;
   }
}
.submit-updates{
   order: 3;
   display: block;
   margin-top: 10px;

}
