*{
    box-sizing: border-box;
    text-align: center;
}/*added by Iulia*/

.movie-poster{
    padding: 3%;
}/*added by Iulia*/

.buttons > button{
    -moz-box-shadow: 3px 4px 1px 0px #8a2a21;
    -webkit-box-shadow: 3px 4px 1px 0px #8a2a21;
    box-shadow: 3px 4px 1px 0px #8a2a21;
    background-color:#c62d1f;
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    border-radius:18px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:8px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}/*added by Iulia*/

.buttons > button:hover {
    background-color:#f24437;
}/*added by Iulia*/
.buttons > button:active {
    position:relative;
    top:1px;
}/*added by Iulia*/

/*.pages-btn{
    display: inline-block;
}*/

#pagination-template {
  display: inline-block;
  text-align: center;
}/*added by Iulia*/

#pagination-template > .pages-btn {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}/*added by Iulia*/

#pagination-template button.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}/*added by Iulia*/

.popup {
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 20%;
    text-align: center;
}
.popup .content {
    width: 80%;
    background-color: #555;
    color: #fff;
    position: absolute;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
    top: -112%;
    left: 10%;
    
    
} 
.popup .content ::after {
    content: "";
    top: 100%;
    
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .closeButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -127%;
    right: 7%;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.submit-updates{
    position: relative;
    display: block;
    margin: 10px;
    padding: 5px;
    bottom: 3%;
}
.display-error {
    z-index: 5;
}


