* {
   margin: 0;
   padding: 0;
 }
.popup {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding:2.5%;
    margin:2.5%;
    position: absolute;
    background-color: 	#D3D3D3;
    border-radius: 6px;
    border:1px solid black;

}
.content {
   order: 2;
   margin-left: 8%;
  }
.closeButton {
   order: 0;
   align-self: flex-end;
}
.display-error{
   order: 1;
   animation: blink 1s linear infinite;
   margin-left: 8%;
   color: #ff00ff;
}
@keyframes blink {
   50% {
      opacity: 0;
   }
}
.submit-updates{
   order: 3;
   display: block;
   margin-top: 10px;

}
 


